.logo1 {
    font-family: var(--font-logo);
    text-shadow: -2px 5px 10px #EBB632;
    font-size: var(--font-size-logo);
}

.logo2 {
    font-family: var(--font-logo);
    color: var(--color-main-theme-gold);
    text-shadow: -2px 5px 10px rgb(22, 21, 21);
    font-size: var(--font-size-logo)
}

header {
    background: rgb(33,33,33);
    background: radial-gradient(circle at 2.9166666666666665% 43.333333333333336%, rgba(235,182,50,0.46) 0%, 14.84%, rgba(235,182,50,0) 28%), radial-gradient(circle at 5.416666666666667% 20.833333333333336%, #737590 0%, 20.4%, rgba(115,117,144,0) 34%), radial-gradient(circle at 48.9013671875% 49.521484375%, #212121 0%, 100%, rgba(33,33,33,0) 100%);
    height: 75px;
}

.header {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 2.7rem;
    margin-left: 1rem;
}

.logo {
    margin-left: auto;
    margin-right: auto;
}


.main-nav {
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #c79c2ff3;
    width: 200px;
    height: 100vh;
    justify-content: space-evenly;
    z-index: 1000;
}

#main-nav:target{
    display: flex;
}

.main-nav li {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;
    font-weight: 700;
    font-size: 30px;
}

.hamburger-toggle {
    margin-right: 1rem;
}

.svg {
    fill: #EBB632;
}


