@import url("menu.css");
@import url("main.css");
@import url("windows.css");

:root {
  --color-primary-background--white: #eefaf7;
  --color-main-theme-gold: #ebb632;

  --font-logo: "black ops one";
  --font-size-logo: 25px;
}

html {
  box-sizing: border-box;
  font-family: "Lato";
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}
