.windows {
  height: calc(50vh - 50px - 2rem);
  display: grid;
  /* min-width: 430px; */
  grid-template-areas:
    "strategy charts"
    "socials contact";
  gap: 1rem;
  margin: 1rem;
}

.menu-button {
  border-radius: 0;
  border: none;
  font-size: 2rem;
  color: black;
}

.menu-button:hover,
.menu-button:focus {
  cursor: pointer;
  opacity: 0.9;
}

.video {
  height: calc(50vh - 25px);
}

.strategy {
  grid-area: strategy;
  background-color: #466b9e;
}

.charts {
  grid-area: charts;
  background-color: #466b9e;
}

.socials {
  grid-area: socials;
  background-color: #ebb632;
}

.contact {
  grid-area: contact;
  background-color: #3ee3a3;
}

.icon {
  display: block;
  margin: auto;
  pointer-events: none;
}

@media only screen and (max-width: 445px) {
  .video {
    width: 100vw;
  }
}
