.AA{background: linear-gradient(to bottom, var(--color-mr-jam) 0%, var(--color-mr-jam) 100%);}
.AKs{background: linear-gradient(to bottom, var(--color-mr-jam) 0%, var(--color-mr-jam) 100%);}
.AQs{background: linear-gradient(to bottom, var(--color-mr-jam) 0%, var(--color-mr-jam) 100%);}
.AJs{background: linear-gradient(to bottom, var(--color-mr-jam) 0%, var(--color-mr-jam) 100%);}
.ATs{background: linear-gradient(to bottom, var(--color-mr-jam) 0%, var(--color-mr-jam) 100%);}
.A9s{background: linear-gradient(to bottom, var(--color-jam) 0%, var(--color-jam) 100%);}
.A8s{background: linear-gradient(to bottom, var(--color-jam) 0%, var(--color-jam) 100%);}
.A7s{background: linear-gradient(to bottom, var(--color-jam) 0%, var(--color-jam) 100%);}
.A6s{background: linear-gradient(to bottom, var(--color-jam) 0%, var(--color-jam) 100%);}
.A5s{background: linear-gradient(to bottom, var(--color-jam) 0%, var(--color-jam) 100%);}
.A4s{background: linear-gradient(to bottom, var(--color-jam) 0%, var(--color-jam) 100%);}
.A3s{background: linear-gradient(to bottom, var(--color-jam) 0%, var(--color-jam) 100%);}
.A2s{background: linear-gradient(to bottom, var(--color-jam) 0%, var(--color-jam) 100%);}

.AK{background: linear-gradient(to bottom, var(--color-mr-jam) 0%, var(--color-mr-jam) 100%);}
.KK{background: linear-gradient(to bottom, var(--color-mr-jam) 0%, var(--color-mr-jam) 100%);}
.KQs{background: linear-gradient(to bottom, var(--color-mr-jam) 0%, var(--color-mr-jam) 100%);}
.KJs{background: linear-gradient(to bottom, var(--color-mr-jam) 0%, var(--color-mr-jam) 100%);}
.KTs{background: linear-gradient(to bottom, var(--color-mr-jam) 0%, var(--color-mr-jam) 100%);}
.K9s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.K8s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.K7s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.K6s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.K5s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.K4s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.K3s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.K2s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}

.AQ{background: linear-gradient(to bottom, var(--color-mr-jam) 0%, var(--color-mr-jam) 100%);}
.KQ{background: linear-gradient(to bottom, var(--color-mr-jam) 0%, var(--color-mr-jam) 100%);}
.QQ{background: linear-gradient(to bottom, var(--color-mr-jam) 0%, var(--color-mr-jam) 100%);}
.QJs{background: linear-gradient(to bottom, var(--color-mr-jam) 0%, var(--color-mr-jam) 100%);}
.QTs{background: linear-gradient(to bottom, var(--color-mr-jam) 0%, var(--color-mr-jam) 100%);}
.Q9s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.Q8s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.Q7s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.Q6s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.Q5s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.Q4s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.Q3s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.Q2s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}

.AJ{background: linear-gradient(to bottom, var(--color-mr-jam) 0%, var(--color-mr-jam) 100%);}
.KJ{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.QJ{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.JJ{background: linear-gradient(to bottom, var(--color-mr-jam) 0%, var(--color-mr-jam) 100%);}
.JTs{background: linear-gradient(to bottom, var(--color-mr-jam) 0%, var(--color-mr-jam) 100%);}
.J9s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.J8s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.J7s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.J6s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.J5s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.J4s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.J3s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.J2s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}

.AT{background: linear-gradient(to bottom, var(--color-mr-jam) 0%, var(--color-mr-jam) 100%);}
.KT{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.QT{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.JT{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.TT{background: linear-gradient(to bottom, var(--color-mr-jam) 0%, var(--color-mr-jam) 100%);}
.T9s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.T8s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.T7s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.T6s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.T5s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.T4s{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.T3s{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.T2s{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}

.A9{background: linear-gradient(to bottom, var(--color-jam) 0%, var(--color-jam) 100%);}
.K9{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.Q9{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.J9{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.T9{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.a99{background: linear-gradient(to bottom, var(--color-mr-jam) 0%, var(--color-mr-jam) 100%);}
.a98s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.a97s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.a96s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.a95s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.a94s{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.a93s{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.a92s{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}

.A8{background: linear-gradient(to bottom, var(--color-jam) 0%, var(--color-jam) 100%);}
.K8{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.Q8{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.J8{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.T8{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.a98{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.a88{background: linear-gradient(to bottom, var(--color-mr-jam) 0%, var(--color-mr-jam) 100%);}
.a87s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.a86s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.a85s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.a84s{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.a83s{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.a82s{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}

.A7{background: linear-gradient(to bottom, var(--color-jam) 0%, var(--color-jam) 100%);}
.K7{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.Q7{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.J7{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.T7{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.a97{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.a87{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.a77{background: linear-gradient(to bottom, var(--color-jam) 0%, var(--color-jam) 100%);}
.a76s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.a75s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.a74s{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.a73s{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.a72s{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}

.A6{background: linear-gradient(to bottom, var(--color-jam) 0%, var(--color-jam) 100%);}
.K6{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.Q6{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.J6{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.T6{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.a96{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.a86{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.a76{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.a66{background: linear-gradient(to bottom, var(--color-jam) 0%, var(--color-jam) 100%);}
.a65s{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.a64s{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.a63s{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.a62s{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}

.A5{background: linear-gradient(to bottom, var(--color-jam) 0%, var(--color-jam) 100%);}
.K5{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.Q5{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.J5{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.T5{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.a95{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.a85{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.a75{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.a65{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.a55{background: linear-gradient(to bottom, var(--color-jam) 0%, var(--color-jam) 100%);}
.a54s{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.a53s{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.a52s{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}

.A4{background: linear-gradient(to bottom, var(--color-jam) 0%, var(--color-jam) 100%);}
.K4{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.Q4{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.J4{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.T4{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.a94{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.a84{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.a74{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.a64{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.a54{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.a44{background: linear-gradient(to bottom, var(--color-jam) 0%, var(--color-jam) 100%);}
.a43s{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.a42s{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}

.A3{background: linear-gradient(to bottom, var(--color-jam) 0%, var(--color-jam) 100%);}
.K3{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.Q3{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.J3{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.T3{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.a93{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.a83{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.a73{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.a63{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.a53{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.a43{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.a33{background: linear-gradient(to bottom, var(--color-jam) 0%, var(--color-jam) 100%);}
.a32s{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}

.A2{background: linear-gradient(to bottom, var(--color-jam) 0%, var(--color-jam) 100%);}
.K2{background: linear-gradient(to bottom, var(--color-mr-f) 0%, var(--color-mr-f) 100%);}
.Q2{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.J2{background: linear-gradient(to bottom, var(--color-l-f) 0%, var(--color-l-f) 100%);}
.T2{background: linear-gradient(to bottom, var(--color-none) 0%, var(--color-none) 100%);}
.a92{background: linear-gradient(to bottom, var(--color-none) 0%, var(--color-none) 100%);}
.a82{background: linear-gradient(to bottom, var(--color-none) 0%, var(--color-none) 100%);}
.a72{background: linear-gradient(to bottom, var(--color-none) 0%, var(--color-none) 100%);}
.a62{background: linear-gradient(to bottom, var(--color-none) 0%, var(--color-none) 100%);}
.a52{background: linear-gradient(to bottom, var(--color-none) 0%, var(--color-none) 100%);}
.a42{background: linear-gradient(to bottom, var(--color-none) 0%, var(--color-none) 100%);}
.a32{background: linear-gradient(to bottom, var(--color-none) 0%, var(--color-none) 100%);}
.a22{background: linear-gradient(to bottom, var(--color-jam) 0%, var(--color-jam) 100%);}