body {
  background-color: aliceblue;
}

.divider {
  border-top: 1px solid black;
}

p img {
  display: none;
}

.title {
  margin: 1rem 1rem 0 1rem;
  font-size: 21px;
}

.p-1 {
  text-align: justify;
  margin: 1rem;
}

@media (min-width: 375px) {
  main {
    display: grid;
    rotate: -45deg;
    width: 100%;
  }

  .title {
    margin: 1rem 1rem 0 1rem;
    width: 250px;
    font-size: 20px;
    justify-self: center;
  }

  .p-1 {
    transform: rotate(90deg);
    width: 250px;
    justify-self: center;
    line-height: 25px;
    position: relative;
  }

  p img {
    display: block;
    width: 150px;
    position: absolute;
    top: -110px;
    left: 100px;
    right: 20;
  }
}

@media (min-width: 600px) {
  .title {
    font-size: 50px;
    margin: 2rem 2rem;
    width: 400px;
  }

  .p-1 {
    font-size: 18px;
    width: 300px;
  }

  p img {
    width: 300px;
    top: -230px;
    left: 0;
  }
}

@media (min-width: 1000px) {
  /* TODO */
}
