body {
  background-color: rgb(235, 255, 248);
}

small {
  margin-left: 1rem;
}

.main {
  margin: auto;
  max-width: 1200px;
}

figure {
  width: 300px;
  margin-top: 1.5rem;
  margin-left: -3rem;
  transition: 0.5s ease;
  position: relative;
}

figure img {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  width: 500px;
}

figure:nth-child(2) {
  top: 168px;
}

figure:nth-child(2),
figure:nth-child(3) {
  margin-left: 2.4rem;
}

.fig {
  position: absolute;
  bottom: 90px;
  left: 70px;
  width: 400px;
  color: rgb(0, 0, 0);
  background-color: rgba(240, 255, 255, 0.511);
}

.fig p {
  font-size: 20px;
  font-weight: 500;
}

figure:hover {
  transform: scale(1.1);
}

figure p {
  text-align: justify;
  margin: 1rem;
}

figure h2 {
  margin: 1rem;
}

figure a {
  text-decoration: none;
  color: black;
}
.main {
  display: flex;
}

@media (max-width: 1170px) {
  figure img {
    width: 350px;
  }

  figure:nth-child(2) {
    top: 128px;
  }

  figure:nth-child(2),
  figure:nth-child(3) {
    margin-left: -4rem;
  }

  figure {
    margin-left: auto;
    margin-right: auto;
  }

  .fig p {
    font-size: 16px;
  }

  figure h2 {
    font-size: 18px;
  }

  .fig {
    bottom: 20px;
    left: 40px;
    width: 270px;
  }
}

@media (max-width: 860px) {
  .main {
    flex-wrap: wrap;
  }

  figure:nth-child(3) {
    margin-left: 30px;
  }
  figure:nth-child(2) {
    top: 140px;
  }
}

@media (max-width: 650px) {
  .main {
    flex-direction: column;
  }

  figure:nth-child(3) {
    margin-left: auto;
  }
  figure:nth-child(2) {
    top: 0px;
    margin: auto;
  }
}
